.main__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.ilustracao-img {
  height: 100%;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.form__item {
  position: relative;
}

.form__label {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--cor-secundaria-500);
  position: absolute;
  top: -0.7rem;
  left: 0.5rem;
  padding: 0.2rem;
  background-color: white;
}

.form__input {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid grey;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
}

.form__element {
  display: flex;
  gap: 1rem;
}

.form__icone {
  padding-top: 0.5rem;
  height: 1.7rem;
  width: 1.5rem;
}

.form__element--group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form__item-address {
  position: relative;
  width: 100%;
}

.form__element-address {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.button__primary {
  background-color: #16db65;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.button__primary:hover {
  background-color: #14ca5d;
}

.feedback {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  display: block;
}

.sucesso {
  background-color: #14ca5d;
  display: block;
  font-weight: 600;
}

.erro {
  background-color: #ef233c;
  display: block;
  font-weight: 600;
}
